<%= hidden_field_tag 'back_url', url_for(params) %>
<%= hidden_field_tag 'contract_id', @contract.id unless @contract.nil? %>
<div class="autoscroll">
<table class="time-entries-for-contract-list list">
  <thead>
    <tr>
      <th class="checkbox hide-when-print">
        <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
                          :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
      </th>
      <th><%= l(:label_date) %></th>
      <th><%= l(:label_current_contract) %></th>
      <th><%= l(:label_member) %></th>
      <th><%= l(:label_activity) %></th>
      <th><%= l(:label_issue) %></th>
      <th><%= l(:label_comments) %></th>
      <% if User.current.allowed_to?(:view_time_entries, @project) && (@contract.nil? || !@contract.is_fixed_price) %>
        <th><%= l(:label_hours) %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <% @time_entries_page.each do |time_entry| %>
    <tr class="time-entry <%= cycle("odd", "even") %> hascontextmenu">
      <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", time_entry.id, false, :id => nil) %></td>
      <td><%= format_date(time_entry.spent_on) %></td>
      <td><%= time_entry.contract.title unless time_entry.contract == nil %></td>
      <td><%= link_to time_entry.user.name, user_path(time_entry.user) %></td>
      <td><%= time_entry.activity.name %></td>
      <td class="comments"><%= link_to time_entry.issue, issue_path(time_entry.issue) unless !time_entry.issue %></td>
      <td class="comments"><%= time_entry.comments %></td>
      <% if User.current.allowed_to?(:view_time_entries, @project) && (@contract.nil? || !@contract.is_fixed_price) %>
        <td><%= time_entry.hours %></td>
      <% end %>
      <td class="buttons">
        <% if (@contract.nil? || !@contract.is_locked) && User.current.allowed_to?(:edit_time_entries, @project) -%>
          <%= link_to image_tag("edit.png"), edit_time_entry_path(time_entry), :title => l(:label_edit) %>
        <% end %>
        <% if (@contract.nil? || !@contract.is_locked) && User.current.allowed_to?(:edit_time_entries, @project) -%>
          <%= link_to image_tag("delete.png"), time_entry_path(time_entry), 
            :title => l(:label_delete), :data => {:confirm => l(:text_are_you_sure_delete_time_entry)}, :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>

<% unless @time_entries_page.empty? %>
    <p class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></p>
<% end %>

<%= context_menu time_entries_context_menu_path %>